.payment {
    background-image: url("https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png");
    /* opacity: 0.75; */
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.payment__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /* border: 4px solid rgb(114, 175, 233); */
    padding: 20px;
    background-color: white;
    margin: 10px;

}
.payment__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }

.payment__container > form > h5 {
    margin-bottom: 4px;
}

.payment__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }

/* .sell__container > p {
    margin-top: 15px;
    font-size: 12px;
} */

.Payment__Button {
    background: rgb(132, 182, 229);
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    /* border-color: #1df728 #1cd143 #29845e; */
  }

  /* .sell__Button {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
  } */
